<div class="card_margin_bottom">
<div class="card quick_card">
    <div class="quick_card_name">
        Edit
    </div>
    <div class="row">
    <form action="/video/update/<%= video.id %>" method="POST" class="col s8 offset-s2 form">
      <div class="row">
        <div class="input-field col s12">
          <input type="text" name="title" id="title1" class="validate" value="<%= video.title %>">
          <label for="title1">Title</label>
          <label for="title">Title</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea name="description" id="description" class="materialize-textarea"><%= video.description %></textarea>
          <label for="description">Description</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input type="url" name="URL" id="URL" class="validate" value="<%= video.URL %>">
          <label for="URL">URL</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input type="hidden" name="_csrf" value="<%- _csrf %>">
          <!--<input type="submit" class="btn waves-effect waves-light" value="Submit">-->
          <button class="btn waves-effect waves-light" type="submit" name="action">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
</div>
