<div class="card_margin_bottom">
    <div class="quick_card card">
        <!--<div class="title">
            <div class="center" style="max-width: 300px;">
                All
            </div>
        </div>-->
            
        <div class="row">
            <div class="col s12 offset-l4 l4">
                <div class="card-panel">
                    <span class="black-text" style="font-size:18px;">ALL</span>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:-20px;">
            <div class="col s4">
                <div class="">
                    Description
                </div>
            </div>
            <div class="col s4">
                <div class="">
                    Title
                </div>
            </div>
            <div class="col s4">
                
            </div>
        </div>
    </div>

    <% _.each(videos, function(video) { %>
    <div class="index_card card">
    <div data-id="<%= video.id %>" data-model="video">
        
        <div class="row">
            <div class="col s4">
                <div class="desc" style="max-width: 300px;"><%= video.description %></div>
            </div>
            <div class="col s4">
                <a class="a-title" href="/video/show/<%= video.id %>">
                    <div class="title" style="max-width: 300px;">
                        <%= video.title %>
                    </div>
                </a>
            </div>
            <div class="col s4">
              <div class="row">
                <div class="btn-box">
                    <div class="col s12 l5">
                        <a href="/video/edit/<%= video.id %>" class="hoverable index-btn waves-effect waves-light btn deep-purple lighten-1" style="font-size:14px;">Edit</a>
                    </div>
                    <div class="col s12 l1">
                        &nbsp;
                    </div>
                    <div class="col s12 l5">
                        <form action="" method="POST">
                            <input type="hidden" name="_method" value="delete"/>
                            <!--<input type="submit" class="waves-effect waves-light btn red" value="Delete"/>-->
                            <button class="hoverable index-btn btn waves-effect waves-light pink lighten-1" type="submit" name="action">Delete</button>          
                            <input type="hidden" name="_csrf" value="<%= _csrf %>" />
                        </form>
                    </div>
                </div>
              </div>  

            </div>
        </div>
        <!--<div class="divider"></div>-->
    </div>
    </div>
    <% }) %>
    
</div>




