<div class="card_margin_bottom">
    <div class="quick_card card">
        <div class="quick_card_name">
            All
        </div><hr>
        <div class="row">
            <div class="col s4">
                Description
            </div>
            <div class="col s4">
                Preview
            </div>
            <div class="col s4">
                
            </div>
        </div>
    </div>

    <div class="index_card card">
    <% _.each(videos, function(video) { %>
    <div data-id="<%= video.id %>" data-model="video">
        <div class="index_card_name">
            <!--<a href="/video/show/<%= video.id %>"><%= video.title %></a>-->
        </div>
        <div class="row">
            <div class="col s4">
                <div class="desc" style="max-width: 300px;"><%= video.description %></div>
            </div>
            <div class="col s4">
                <div class="title" style="max-width: 300px;">
                    <a href="/video/show/<%= video.id %>"><%= video.title %></a>
                </div>
            </div>
            <div class="col s4">
              <div class="row">
                <div class="btn-box">
                    <div class="col s12 l5">
                    <a href="/video/edit/<%= video.id %>" class="index-btn waves-effect waves-light btn deep-purple lighten-1">Edit</a>
                </div>
                <div class="col s12 l1">
                    &nbsp;
                </div>
                <div class="col s12 l5">
                    <form action="" method="POST">
                        <input type="hidden" name="_method" value="delete"/>
                        <!--<input type="submit" class="waves-effect waves-light btn red" value="Delete"/>-->
                        <button class="index-btn btn waves-effect waves-light pink lighten-1" type="submit" name="action">Delete</button>          
                        <input type="hidden" name="_csrf" value="<%= _csrf %>" />
                    </form>
                </div>
                </div>
              </div>  

            </div>
        </div>
        <hr>
    </div>
    <% }) %>
    </div>
    
</div>




